<div class="container">
<nav class="navbar navbar-expand-lg  justify-content-center navbar-light" style="background-color: #563d7c" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="accueil"><img src="assets/img/FAVICON.svg" width="50" height="50" alt="">
      Deep-Conscience</a>

      <ul class="nav navbar ">
          <li class="nav-item">
              <a  class="nav-link active" routerLink="accueil" >ACCUEIL</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link active" routerLink="concept" >LE CONCEPT</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link active" routerLink="miseEnPlace" >MISE EN PRATIQUE</a>

          </li>
          <li class="nav-item">
            <a  class="nav-link active" routerLink="temoignages" >TEMOIGNAGES</a>
        </li>
          <li class="nav-item">
              <a  class="nav-link active" routerLink="tarifs" >TARIFS</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link active" routerLink="contact" >CONTACT</a>
            </li>
            ng build --prod --output-path docs --base-href /<deepConscience>/



      </ul>
    </div>
  </nav>
</div>

