<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="assets/img/ecolemobile.svg" alt="logoDeep-conscinceEcoleMobile"  class="logoDeepConscienceEcolemobile" style="width:140px; height:140px " >
    </div>
    <div class="col-md-12">
      <div class="alert alert-dark" role="alert" style="text-align:center; ">
          <h2>Une seul voix/voie peut faire plus de bruit que tout une foule , venez trouver la votre</h2>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4"><figure class="voir"><a href="#"><img src="assets/img/deepCulturing.svg"></a><figcaption><p class="description-area" style="text-align: justify">
        Création artistique cinématographique

        épousant les ateliers chorégraphiques au travers une dimension pédagogique de l'art contemporain.</p>

            </figcaption></figure>
            <button class="btn btn-primary">Cliquez ici pour 'Courte-pointe'</button>
  </div>
    <div class="col-md-4"><figure class="voir"><a href="#"><img src="assets/img/deepConscience.svg"></a><figcaption><p style="text-align: justify">
        Le concept « Deep-Conscience » vise à répondre aux besoins de personnes désirant se sentir plus à l’aise
        dans leur corps et nécessitant de travailler en vue d’un rapport harmonieux entre le corps et l’esprit</p>

            </figcaption></figure>
            <button class="btn btn-primary">Cliquez ici pour 'Courte-pointe'</button>
    </div>
      <div class="col-md-4 col-xs-12" ><figure class="voir"><a href="#"><img src="assets/img/deepTraining.svg"></a><figcaption><p style="text-align: justify">
          Programme spécifique de développement personnelle à travers la médiation et la création artistique selon le public et la problématique visé.
           Adaptation au cas par cas ou en groupe pour aider dans la gestions des émotions et des comportements </p>
                    </figcaption></figure>
                    <p class="colle"><button class="btn btn-primary">Cliquez ici pour 'Courte-pointe'</button></p>
      </div>
      <div class="row">
        <div class="colmd-12">
      <h2 style="justify-content: justify">Qu'est ce que le concept deep-conscience</h2></div>
      <div class="col-md-12">
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wMg7B32V-aY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
      </div>
    </div>

  </div>
  <div class="row">
      <h2>Qui est Dorothée Poidevin, la créatrice du concept Deep-Conscience ?</h2>
    <div class="col-md-4">
      <img src="assets/img/dorotheePoidevinCreatriceDeDeepConscience.jpg" class="imageDorothee" alt="dorothée poidevin la fondatrice du concept deep-conscince" style="text-align:center; ">
    </div>
      <div class="col-md-8">
      <p style="text-align:justify;">En 2004,j'ai perdu ma mère, la rencontre d’incompréhension, tristesse, culpabilité, peur m'ont amené au combat intérieure
          mais aussi extérieure face au mépris. J'ai donc commencé à essayer de comprendre les émotions primaires et leur intensité tout
          en les expérimentant pour arriver a comprendre nos émotions secondaires et leur modèle multidimensionnelle ; par exemple prenons
          la peur , son aspect dimensionnelle s’étreint sur la panique dans son intensité , ce qui rend similaire la culpabilité à la honte
          mais qu’on retrouve aussi dans la joie qui elle est une émotion contraire mais nous retrouvons parfois la peur dans la joie a la fois ,
          sa polarité est donc joie=tristesse.</p>
        </div>
</div>
</div>
