.nav
 {
  background-color: #563d7c;
  color: #fff;
 }
 .imageDorothee, img {
  text-align: justify;
  width: 100%;
 }
 .description-activity{
   width: 90%;

   text-align: center;
 }
 .logoDeepConscienceEcolemobile{
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-left: 40%;
   margin-top: 20px;
 }
 .voir{
   width: 100%;
   height: 340px;
 }
.colle{

text-align: center;
}
